<nav class="navbar glass-panel">
    <div class="nav-brand">
        <i class="fa-solid fa-heart-pulse"></i>
        MediPred
    </div>
    <ul class="nav-links">
        <li><a href="/dashboard"><i class="fa-solid fa-house"></i> Dashboard</a></li>
        <li><a href="/diabetes"><i class="fa-solid fa-droplet"></i> Diabetes</a></li>
        <li><a href="/heart"><i class="fa-solid fa-heart"></i> Heart</a></li>
        <li><a href="/kidney"><i class="fa-solid fa-kidney"></i> Kidney</a></li>
        <li><a href="/cancer"><i class="fa-solid fa-ribbon"></i> Cancer</a></li>
        <li><a href="/history"><i class="fa-solid fa-clock-rotate-left"></i> History</a></li>
        <li><a href="/logout" class="btn-logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a></li>
    </ul>
    <div class="hamburger" id="hamburger">
        <i class="fa-solid fa-bars"></i>
    </div>
</nav>